{% extends 'base.html' %} {% block content %}

<div class="container">
    <p>
        <ul>
            <li><a href="https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3">Flask Help</a></li>
            <li><a href="https://api-ninjas.com/api/imagetotext">Image to Text AI API</a></li>
            <li><a href="https://apilayer.com/marketplace/spamchecker-api">Spam Checker API</a></li>
            <li><a href="https://www.apivoid.com/api/url-reputation/">URL Checker API</a></li>
        </ul>
    </p>
</div>

{% endblock %}
